* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

main {
    background-color: #F5F5F1;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

p {
    margin: 30px 0;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 3);
    border: 10px solid #F5F5F1;
    background-color: white;
}

.card-img {
    width: 100%;
}

.card-name {
    padding-top: 10px;
    font-weight: bold;
}

.card-role {
    padding-bottom: 10px;
    font-size: 13px;
}